APP_ENV=dev
APP_HOST=0.0.0.0
APP_PORT=8000

DB_HOST=db
DB_PORT=5432
DB_NAME=videos
DB_USER=videos
DB_PASSWORD=videos

MEDIA_ROOT=/data
FONT_DIR=/fonts

FFMPEG_BIN=ffmpeg
FFPROBE_BIN=ffprobe

API_ROOT_PATH=
